@font-face {
	font-family: "Montserrat Alternates-SemiBold";
	src: url("../fonts/montserratalternates/MontserratAlternates-SemiBold.ttf");
	src: local("☺"), url("../fonts/montserratalternates/MontserratAlternates-SemiBold.ttf") format("ttf"),
		url("../fonts/montserratalternates/MontserratAlternates-SemiBold.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MontserratAlternates-Regular";
	src: url("../fonts/montserratalternates/MontserratAlternates-Regular.ttf");
	src: local("☺"), url("../fonts/montserratalternates/MontserratAlternates-Regular.ttf") format("ttf"),
		url("../fonts/montserratalternates/MontserratAlternates-Regular.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "NunitoSans-Regular";
	src: url("../fonts/nunitosans/NunitoSans-Regular.ttf");
	src: local("☺"), url("../fonts/nunitosans/NunitoSans-Regular.ttf") format("ttf"),
		url("../fonts/nunitosans/NunitoSans-Regular.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "NunitoSans-Light";
	src: url("../fonts/nunitosans/NunitoSans-Light.ttf");
	src: local("☺"), url("../fonts/nunitosans/NunitoSans-Light.ttf") format("ttf"),
		url("../fonts/nunitosans/NunitoSans-Light.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "VisbyCF-Heavy";
	src: url("../fonts/visbyCF/VisbyCF-Heavy.ttf");
	src: local("☺"), url("../fonts/visbyCF/VisbyCF-Heavy.ttf") format("ttf"),
		url("../fonts/visbyCF/VisbyCF-Heavy.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: "VisbyCF-Light";
	src: url("../fonts/visbyCF/VisbyCF-Light.ttf");
	src: local("☺"), url("../fonts/visbyCF/VisbyCF-Light.ttf") format("ttf"),
		url("../fonts/visbyCF/VisbyCF-Light.ttf") format("truetype"),
	font-weight: normal;
	font-style: normal;
	}

/* Отображение горизонтального скроллбара только при ховере (прокрутка) */
body {
  overflow-x: hidden;
}

/* Стиль горизонтального скроллбара */
body::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Стиль трека (бара) */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

/* Стиль ползунка (ручки) */
body::-webkit-scrollbar-thumb {
  background-color: #FA9E1A;
  border-radius: 6px;
}

/* Изменение цвета ползунка при наведении */
body::-webkit-scrollbar-thumb:hover {
  background-color: #FABE10;
}


body h1, h2, h3, h4, h5, h6, h7{
    font-family: VisbyCF-Heavy;
}

body div, p, span, a{
    font-family: VisbyCF-Light;
}

body a {
    text-decoration: none;
    color: #333;
    transition: 0.2s linear;
}
body a:hover {
    color: #FA9E1A;
}
#preloader .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    }

#preloader .preloader .dots-bars-7 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    width: 40px;
    height: 40px;
    --c: linear-gradient(currentColor 0 0);
    background:
    var(--c) 0    0,
    var(--c) 0    100%,
    var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 0,
    var(--c) 100% 100%;
    background-size: 8px 50%;
    background-repeat: no-repeat;
    animation: db7-0 1s infinite;
    position: relative;
    overflow: hidden;
    }

#preloader .preloader .dots-bars-7:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  top:calc(50% - 4px);
  left:-8px;
  animation:inherit;
  animation-name:db7-1;
}

@keyframes db7-0 {
 16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
 33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
}

@keyframes db7-1 {
 20%  {left:0px}
 40%  {left:calc(50%  - 4px)}
 60%  {left:calc(100% - 8px)}
 80%,
 100% {left:100%}
}

.blur-mask {
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0.4);

}

#language {
  width: auto;!important;
  border: none;!important;
  outline: none;!important;
  background-color: transparent;!important;
  font-weight: bold!important;
  box-shadow: none!important;
}

i{
    padding: 0px 5px 0px 5px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.line{
    left: 50%;
    margin-left: -50px;
    margin-bottom: 50px;
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #333;
    box-sizing: border-box;
    text-align: center;
}
.line::before{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    left: 50%;
    right: auto;
    margin-left: -5px;
    background-color: #3F8FFF;
}
.navbar-nav a{
    padding: 5px 10px;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quick-link{
    color: #fff;
    margin-right: 35px;
}
.quick-link:hover{
    color: #FA9E1A;
    }
.quick-links li a{
    color: #fff
}
.quick-links li a:hover{
    color: #FA9E1A;
}

@media (min-width: 767px){
    .card_img{
        position: relative;
    }

    .card_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.img_news img {
    max-width: 100%;
    margin: 50px auto;
}
.contact-information{
    background-color: #1B3D6D;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 80px 30px;
}

@media (max-width: 767px){
    .header-social-icon{
        display: none;
    }
    .header-text{
        font-size: 12px;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #19A3FA;

     }

.gradient-custom-white{
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.16) 10.72%, rgba(255, 255, 255, 0.50) 55.52%, rgba(255, 255, 255, 0.06) 98.07%);
}

.video_news {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.container #video {
    border-radius: 10px;
}

.video_news .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
    background: #4343;
}

.video_news:hover .controls {
    opacity: 1;
}

.video_news .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}

.video_news .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}

.video_news .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}

.video_news .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}

.bg-card-service {

    background: rgba(57, 178, 72, 0.10)!important;

}
.forselect {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position; relative;

}
.checkpoint div{
    border: 2px solid #FA9E1A;
    border-radius: 2em;
    padding: 1.5em;
}

@media (min-width: 1150px) {
    .checkpoint:first-child::after {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #FA9E1A;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 0%;
    transform: translateX(-3.5em);
    border-radius: 50%;
    }
    .checkpoint:nth-child(odd):last-child::after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 0%;
        transform: translateX(-50%) rotate(180deg);
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent #888 transparent;
    }

    .checkpoint:nth-child(even):last-child::after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 100%;
        transform: translateX(-50%) rotate(180deg);
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent #888 transparent;
    }
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #FA9E1A;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}
@media (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .checkpoint:first-child::after {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #FA9E1A;
    width: 0;
    height: 0;
    position: absolute;
    top: 0%;
    transform: translateX(-3.5em);
    border-radius: 50%;
    }

    /* Стиль для нечетных элементов */
    .checkpoint:nth-child(odd):last-child::after {
    content: '';
    position: absolute;

    bottom: -25px; /* Вы можете настроить это значение в зависимости от ваших потребностей */
    left: 0%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 0px;
    border-style: solid;
    border-color: transparent transparent #888 transparent;
    }

    /* Стиль для четных элементов */
    .checkpoint:nth-child(even):last-child::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 100%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 0px;
    border-style: solid;
    border-color: transparent transparent #888 transparent;
    }
}



