{% extends "components/base.html" %}
{% load i18n %}
{% block title %} {% trans 'Login Page' %} {% endblock title%}
{% block content %}
<div class="row-fluid mb-5">
    <div class=" gradient-custom" style="height:300px;">
        <div class="d-flex align-items-center justify-content-center mb-3 text-white h-100">
            <div class="mb-auto p-2"></div>
            <div class="p-2"><h1 class="mb-3">{% trans 'Sign in' %}</h1></div>
        </div>
    </div>

</div>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                          <h3 class="font-weight-light my-1 text-warning text-center">{% trans 'Sign in' %}</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1">{% trans 'Username' %}</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                          <label class="small mb-1">{% trans 'Password' %}</label>
                                          {{ form.password }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <!-- Add a Remember me functionality -->
                                            {{ form.remember_me }}
                                            <label> {% trans 'Remember me' %}</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                          <button name="login" class="col-md-12 btn btn-warning" id="login">{% trans 'Sign in' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
{#                                <a href="{% url 'users-register' %}">{% trans 'Don't have an account yet? Go to signup' %}</a><br>#}
                                <a href="{% url 'password_reset' %}"><i>{% trans 'Forgot Password' %}?</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}