{% extends "components/base.html" %}
{% load i18n %}
{% block content %}
<div class="row-fluid mb-5">
    <div class=" gradient-custom" style="height:300px;">
        <div class="d-flex align-items-center justify-content-center mb-3 text-white h-100">
            <div class="mb-auto p-2"></div>
            <div class="p-2"><h1 class="mb-3">{% trans 'Reset password' %}</h1></div>
        </div>
    </div>

</div>
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        {% trans 'Your password has been set. You may go ahead and' %} <a href="{% url 'login' %}">{% trans 'Login Here' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}